.note {
    font-size: 15px;
    color: black;
}

.heading {
    font-size: 25px;
    width: 98%;
    margin: 10px;
    box-shadow: 5px 5px 5px 5px grey;
}

.copy_right_footer {
    bottom: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
    font-size: 20px;
    background-color: grey;
    color: beige;
}

canvas {
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px grey;
}